<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{mm:ss.SSS} %logger{36} - %msg%n"/>
        </Console>
        <File name="MainLog" fileName="logs/all.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{mm:ss.SSS} %logger{36} - %msg%n"/>
        </File>
        <File name="ServerFileLog" fileName="logs/server.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{mm:ss.SSS} %logger{36} - %msg%n"/>
        </File >
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MainLog"/>
        </Root>
        <Logger name="ServerLog" level="debug" additivity="true">
            <AppenderRef ref="ServerFileLog" level="debug" />
        </Logger>
    </Loggers>
</Configuration>